body {
  font-family: Arial,Helvetica,Sans-serif;
  color: #444;
  background: #F9F7F5;
}

.container {
  max-width: 960px;
}

.main.container {
  padding-top: 15px;
}

.typeset {
  h1, h2, h3, h4 {
    font-family: Arial,Helvetica,Sans-serif;
    line-height: 22px;
    padding: 0 0 3px;
    margin: 25px 0 10px 0;
    border-bottom: 1px solid #DFDAD5;
    color: #444;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 25px;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #555;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 14px;
    border: none;
  }

  p {
    font-size: 12px;
    line-height: 22px;
    color: #444;
    margin: 0;
    padding: 0;

    a {
      color: #4265A7;
      text-decoration: none;
      background: none;
      font-weight: 700;
      &:hover {
        color: #993333;
        text-decoration: none;
        background: none;
      }
    }
  }

  small {
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 11px;
  }

  .button {
    margin: 30px 0 10px;
    padding: 0 20px;
    background: #DDD;
    color: #000;
    font-weight: 700;
    font-size: 12px;
  }
}

.cta {
  text-align: center;
}
